.logo{
    display: block;
    margin:auto;
    width:50px;
    height: 50px;
}
.container{
    max-width: 955px;
    border:2px solid black;
    margin: auto;
    height:60vh;
    padding:33px;
    overflow-y:auto;
    margin-bottom:23px;
}
.message{
    background-color:rgba(82, 177, 27, 0.863);
    width:34%;
    padding:10px;  
    margin: 15px 12px;
    border:2px solid black; 
    border-radius:10px;
    



}
.left{
    float:left;
    clear:both;

}
.right{
    float:right;
    clear:both;

}
#send-container{
    display:block;
    margin:auto; 
    text-align:center;
    max-width:985px;
    /* width:100px;    */
}
  #messageInp{
    width: 67%;
    border:2px solid black;
    border-radius:6px;
    height:34px;
    background-color: rgb(216, 187, 209);
    

    }
    
    #messageInp:hover{
        background-color:white;
        }

.btn{
    cursor:pointer;
    border:2px solid black;
    border-radius:6px;
    height:34px;
    background-color:aqua;
    
}
.btn:hover{
    background-color:darkorchid;
}
body{
    height:100vh;
background-image:linear-gradient(rgb(92,100,221),purple);
}